body {
  color : #231f20;
}
nav {
  ;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: auto;
}
ul li {
  background-color: blue; 
}
nav ul li {
  align-items: center;
  width: 140px;
  margin: 2px 2px 40px 2px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Source Sans Pro';
  height: 44px;
  line-height: 20px;
  color: #849097;
  background-color: purple;
  transition: box-shadow 0.33s ease-out, color 0.33s ease-out;
  -webkit-transition: box-shadow 0.33s ease-out, color 0.33s ease-out; /* Safari */
}
nav ul li:not(.active) {
  background-color: white !important;
}
nav ul li.active {
  box-shadow: 0 0 7px rgba(132, 144, 151, 0.5);
  color : white;
  border-radius: 2px;
}
.category {
  font-size: 28px;
  line-height: 35px;
  margin: 0;
  color: #a0262a;
}
ul {
  padding: 0;
  margin: 0;
}
.name {
  font-style: italic;
}
.movie {
  font-size: 1.5rem;
  font-weight: bold;
  color: #DDC266;
}
p {
  padding-top: 0.1em;
  margin: 10px 0;
}
#app {
  width: 300px;
  
}
main {
  height: 550px;
}
.imgbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 430px;
} 
.imgbox img { 
  width: 95%;
}

@media screen and (min-width: 500px) {
  #app {
    width: 100%;
    max-width: 600px;
  }
  
  nav {
    max-width: 550px;
    margins: auto;
  }
  main {
    height: 530px;
  }
  main h3 {
    line-height: 20px;
    
  }
  .name {
    margin-top: 100px;
  }
  .movie {
    font-size: 2rem;
  }
  .imgbox {
  display: block;
  float: right;
  width: 55%;
} 
  .imgbox img {
    
  }
  h3 {
    padding-top: 38px;
  }
  p.name {
    width: 55%;
  }
}

footer {
  clear: both;
}